template(name='navbarFooter')
  footer#navbarFooter
    nav.navbar-default.navbar-fixed-bottom
      .container
        ul.nav.navbar-nav
          li.view-button.active
            a(href='#') Vew
          li.new-button
            a(href='#') New
          li.edit-button
            a(href='#') Edit
          li.delete-button
            a(href='#') Delete
